 ul {
    li {
       ul {
         li {
            ul {              
               position: absolute;
               display: none;
            }
         }
      }
   }
}

ul {
   li:hover > {
      ul {
    display: block;
         }
}
}