*{
   margin: 0;
   padding: 0;
   
}
#gradientes{
   background-color: #fad0c4;
   background-image: linear-gradient(315deg, #fad0c4 0%, #f1a7f1 74%);
   
}
.videoModi {
      border: 0;
      width: 50%;
      margin: 0 auto;
      min-height: 50vh;
}
p{
  font-size: 1rem;
  font-family: 'Saira Condensed', sans-serif;
}
h2{
  padding: 50px;
}
.imgInstagram, .imgTwitter {
  width: 50px;
}
ul li {
  font-size: 1rem;
  font-family: 'Saira Condensed', sans-serif;
  text-align: end;
}
.alineacionTexto{
   text-align: center;
}
.header{
   top: 0px;
   margin-top: 60px;
   padding: 20px;
   z-index: 10;
   font-family: $tipografiatitulo;
   color: $colorletra;
}
a{
   text-decoration: none;
   font-size: 20px;
   color: black;
   padding: 10px 20px;
   display: block;
}
a:hover{
   color: rgba(207, 73, 219, 0.699);
}
/* Modifique tamaño de Imagenes */
.cardsModi {
  height: 50vh;
}
.logo {
  height: 50px;  
}

.carruModi {
   max-width: 100%;
   width: 100%;
}
/*Modifiacion de cards*/
.mi-card {
   margin: 20px;
   max-width: 100%;
   border-radius: 20px;
}
.mi-imagen {
   max-width: 100%;
   height: auto;
   border-radius: 20px;
}
/*Formulario*/
.form{
   width: 50%;
   height: 50%;
   // background:#e6e6e6;
   border-radius:4px;
   margin:0 auto;
   box-sizing: border-box;
   font-family: $fontparrafo;
   position: relative;
}
input{
   width:100%;
   padding:10px;
   box-sizing: border-box;
   background:none;
   outline:none;
   resize:none;
   border:0;
   font-family: $fontparrafo;
   transition:all .3s;
   border-bottom:2px solid black;
}
p:before {
   content:attr(type);
   display:block;
   margin:28px 0 0;
   font-size:14px;
   color: $colorletra;
}
.botonModificado {
   border-radius: 12px;
   box-shadow:rgba(250, 93, 93, 0.2);
   float:right;
   padding:8px;
   margin:8px 0;
   font-family: $fontparrafo;
   background:0;
   color:$colorletra;
   // cursor:pointer;
   transition:all .3s;
}
/* Menu */
.encabezado{
   position: sticky;
   text-align: left;
   display: flex;
   justify-content: end;
   align-items: left; 
   width: 100%;
   top: 0;
   padding: 10px;
   z-index: 10;
 }

/* Grid */
header {
  grid-area: header;
   
}
nav{
  display: grid;
  grid-area: nav;
  @extend %display;
}
main{
  grid-area: main;
  @extend %display;
  text-align: center;
  width: 100%;
}
aside {
  grid-area: aside;
  @extend %display;
  text-align: center;    
}
footer {
  grid-area: footer;
  @extend %display; 
}
.gridImageUno, .gridImageDos, .gridImageTres {
   justify-self: start;
   align-self: center;
 }
.gridPadre {
   display: grid;
   // height: 100vh;
   grid-template-columns: 1fr;
   grid-template-areas: 
   "header"
   "nav"
   "main"
   "footer";  
}

.gridPagDos {
  display: grid;
//   height: 100vh;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "header header header"
  "nav nav nav"
  "main main main"
  "aside footer footer";  
}
@media screen and (max-width: 1024px)
{
  .gridPagDos {
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     grid-template-areas: 
  "header header"
  "nav nav"
  "main main"
  "aside aside"
  "footer footer"; 
}
}
@media screen and (max-width: 320px){
  .gridPagDos {
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr 1fr;
     grid-template-areas: 
  "header"
  "nav"
  "main"
  "aside"
  "footer";
  }
  .videoModi {
   width: 100%;
}
.form {
   width: 100%;
}
}
.carrito {
   min-height: 70vh;
   max-width: 1000px;
   margin: 0 auto;
   width: 100%;
}
.table_productos > input {
   width: 40px;
   border: none;
   outline: 0;
   font-size: 16px;
   font-weight: 700;
   margin-right: 30px;
   margin-bottom: 20px;
}